<div>
  <h4>Lunch Schedule</h4>
  <ul>
    <li>Available Seats at 12 pm:  <%= schedule.t12b %></li>
    <li>Available Seats at 1 pm:  <%= schedule.t1b %></li>
    <li>Available Seats at 2 pm:  <%= schedule.t2b %></li>
</ul>
  <h4>Dinner Schedule</h4>
  <ul>
    <li>Available Seats at 6 pm:  <%= schedule.t6b %></li>
    <li>Available Seats at 7 pm:  <%= schedule.t7b %></li>
    <li>Available Seats at 8 pm:  <%= schedule.t8b %></li>
</ul>
</div>
